$light: #fff;
$dark: #000;
$unlist: #787D79;
$outline: #e6e6e6;
$check :#2dd451;
$footer: rgb(237,237,237);
$contact: rgb(240, 240, 240);
$error: rgb(252, 127, 127);
$dark-error: rgb(215, 101, 101);
$dark-grey: #333;