@use "./colors" as *;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 29rem;
}
body {
	font-family: "Montserrat", sans-serif;
	background-color: $light;
	font-size: 1.6rem;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.nav {
	display: none;
	height: 8rem;
	width: 100%;
	justify-content: space-evenly;
	background-color: $light;
	&__brand {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__logo {
		width: 4rem;
		height: 4rem;
	}
	&__title {
		font-size: 3rem;
		font-weight: 300;
	}
	&__links {
		display: flex;
		justify-content: space-around;
		line-height: 8rem;
	}
	&__link {
		padding: 0 1em;
		height: 100%;
		color: $dark;
		text-decoration: none;
		transition: background-color 0.3s, color 0.3s;

		&:hover {
			color: $light;
			background-color: $dark;
		}
	}
}
.mobile-nav {
	position: fixed;
	height: 8rem;
	width: 100%;
	background-color: $light;
	transition: background-color 0.3s;
	z-index: 10;
	&__btn {
		display: flex;
		align-items: center;
		text-decoration: none;
	}
	&__panel {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__brand {
		margin: 0 1rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	&__burger-menu {
		margin: 0 0.5rem;
		padding: 2rem;
	}
	&__title {
		color: $dark;
		text-decoration: none;
		font-size: 3rem;
		font-weight: 300;
	}
	&__logo {
		height: 2.6rem;
		width: 2.6rem;
	}
	&__burger {
		height: 4rem;
		width: 4rem;
		cursor: pointer;
		transition: transform 0.3s;
		&:hover {
			transform: scale(0.9);
		}
	}

	&__links {
		display: flex;
		height: 0;
		flex-direction: column;
		background-color: $light;
		transition: height 0.3s, background-color 0.3s;
		overflow: hidden;
	}

	&__link {
		font-size: 2rem;
		color: $dark;
		text-decoration: none;
		padding: 0.5em 0;
		width: 100%;
		text-align: center;
		transition: background-color 0.3s, color 0.3s;
		&:last-child {
			padding-bottom: 0.6em;
		}
		&:hover {
			background-color: $dark;
			color: $light;
		}
	}
	&__button {
		border: none;
		background: none;
	}
}

.active {
	height: 18rem;
}

.animation-show {
	animation: show 0.5s forwards;
}
.animation-hide {
	animation: hide 0.5s forwards;
}
.hero-place {
	padding-top: 8rem;
	transition: padding 0.3s;
	&__img {
		position: relative;
		height: 35rem;
		background-image: url("/dist/img/hero-small.jpg");
		background-size: cover;
		background-position: center;
		z-index: -1;
	}
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -11;
	}
	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $light;
		z-index: 100;
	}
	&__h3 {
		font-size: 1.3em;
		font-weight: 300;
	}
	&__h1 {
		font-size: 1.5em;
	}
}
.active-hero {
	padding-top: 26rem;
}
.shadow {
	background-color: $footer;
}
.about-us {
	width: 100%;
	margin-bottom: 3em;
	&__title {
		margin: 4rem 0;
		text-align: center;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 3rem;
	}
	&__box {
		display: flex;
		flex-direction: column;
	}
	&__box-header {
		font-size: 2.3rem;
		text-align: center;
		padding-bottom: 0.5em;
	}
	&__box-text {
		margin: 0 2em 1em;
	}
	&__img {
		display: block;
		height: 20rem;
		margin: 1rem auto 2rem;
	}
}

.second-hero {
	&__img {
		position: relative;
		height: 30rem;
		background-image: url("/dist/img/second-hero-small.jpg");
		background-position: center;
		background-size: cover;
		z-index: 0;
	}
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(7, 16, 7, 0.65);
		z-index: -5;
	}
	&__text {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__header {
		color: $light;
		text-align: center;
		padding: 1.5rem 2rem;
		font-size: 2.5rem;
		border: 1px solid $light;
		font-weight: 400;
		margin: 0 4rem;
	}
}
.offer {
	&__title {
		text-align: center;
		margin: 4rem 0 2rem;
		font-weight: 300;
		font-size: 3rem;
		text-transform: uppercase;
	}
	&__p {
		margin: 0 2rem 2rem;
		font-size: 2rem;
		text-align: center;
	}
	&__box {
		display: flex;
		margin: 2rem 2rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__card {
		margin: 2rem 3rem;
		height: 40rem;
		width: 30rem;
		border-radius: 5px;
		box-shadow: 0px 0px 5px 0px rgb(125, 125, 128);
	}
	&__card-title {
		margin-top: 2rem;
		font-size: 2.5rem;
		font-weight: 400;
		text-align: center;
	}
	&__card-prize {
		margin: 1rem;
		text-align: center;
		font-size: 3.5rem;
		font-weight: bold;
	}
	&__card-list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-top: 3rem;
		list-style: none;
		color: $unlist;
	}
	&__card-li {
		margin: 0.5rem 5.5rem 0.5rem 5.5rem;
	}
	&__card-minus {
		margin-right: 1rem;
		height: 1rem;
	}
	&__card-check {
		margin-right: 1.5rem;
		height: 1rem;
	}
	&__card-btn {
		display: block;
		margin: 3rem auto 0;
		height: 4rem;
		width: 20rem;
		font-size: 1.7rem;
		background: none;
		border: none;
		border-radius: 5px;
		box-shadow: 0px 5px 17px 0px rgb(125, 125, 128);
		transition: background-color 0.3s, color 0.3s;
		cursor: pointer;
		&--special {
			display: block;
			margin: 3rem auto 0;
			height: 4rem;
			width: 20rem;
			font-size: 1.7rem;
			background-color: $check;
			border: none;
			border-radius: 5px;
			box-shadow: 0px 5px 17px 0px rgba(49, 203, 83, 1);
			transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
			cursor: pointer;
			&:hover {
				background-color: $dark;
				color: $light;
				box-shadow: 0px 5px 17px 0px rgb(125, 125, 128);
			}
		}
		&:hover {
			background-color: $dark;
			color: $light;
		}
	}
	&__more-btn {
		display: block;
		margin: 3rem auto 5rem;
		height: 4rem;
		width: 35rem;
		font-size: 1.7rem;
		background-color: $dark;
		color: $light;
		text-align: center;
		line-height: 4rem;
		border: none;
		border-radius: 5px;
		box-shadow: 0px 5px 17px 0px rgb(125, 125, 128);
		transition: background-color 0.3s, color 0.3s;
		cursor: pointer;

		&:hover {
			background-color: $light;
			color: $dark;
			box-shadow: 0px 5px 17px 0px rgb(125, 125, 128);
		}
	}
}
.check {
	color: $dark;
}
.contact {
	
	&__box {
	padding: 0 3.5em;
	}
	&__title {
		text-align: center;
		margin: 4rem 0 2rem;
		font-weight: 300;
		font-size: 2.5rem;
		text-transform: uppercase;
	}
	&__form {
		display: flex;
		flex-direction: column;
	}
	&__label {
		margin: 1rem 0;
		font-weight: 300;
		font-size: 1.6rem;
	}
	&__input {
		margin: 0 auto;
		height: 3rem;
		width: 100%;
		border: none;
		background-color: $footer;
		color: #333;
		border-radius: 5px;
		font-size: 1.7rem;
		text-align: center;
	}
	&__textarea {
		border-radius: 5px;
		border: none;
		background-color: $footer;
		font-size: 1.7rem;
		min-width: 100%;
		max-width: 100%;
		height: 200px;
		min-height: 200px;
		max-height: 200px;
	}
	&__btn {
		margin: 3rem 0;
		
		background-color: $check;
		border: none;
		height: 3rem;
		border-radius: 5px;
		font-size: 1.7rem;
		transition: background-color .3s, color .3s;
		cursor: pointer;
		&:hover {
		background-color: $dark;
		color: $light;
		}
	}
	&__iframe-box{
		background-color: $footer;
	}
	&__iframe{
		display: inline-block;
		
		height: 30rem;
		width: 100%;
	}
}
.error{
	background-color: $error;
	border: 1px solid $dark-error;
}
.footer {
	margin: 0;
	background-color: $footer;
	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		margin-bottom: 3rem;
		&-brand {
			display: flex;
			margin-top: 0.8em;

			font-size: 4rem;
			font-weight: 300;
			img {
				height: 4rem;
			}
		}
	}
	&__links {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		&-category {
			display: flex;
			flex-direction: column;
			margin: 0 2rem;
		}
		&-header {
			margin-top: 2em;
			margin-bottom: 1rem;
			text-align: center;
			font-size: 2rem;
			font-weight: 400;
		}
	}
	&__link {
		position: relative;
		color: $dark;
		text-decoration: none;
		margin: 0.5rem 0;
		font-weight: 300;
		text-align: center;
		cursor: pointer;
		&::before {
			position: absolute;
			bottom: -0.3rem;
			left: 0;
			height: 1px;
			width: 0;
			background-color: $dark;
			content: "";
			transition: width 0.3s;
		}
		&:hover::before {
			width: 100%;
		}
	}
	&__year {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1em 0;
		border-top: 1px solid #000;
		font-weight: 300;
	}
}

@media (min-width: 768px) {
	.mobile-nav {
		height: 11rem;

		&__title {
			font-size: 4rem;
		}
		&__logo {
			height: 4.5rem;
			width: 4.5rem;
		}
		&__burger {
			height: 5rem;
			width: 5rem;
		}
		&__link {
			font-size: 3rem;
		}
	}
	.hero-place {
		&__h3 {
			font-size: 1.5em;
			font-weight: 300;
		}
		&__h1 {
			font-size: 2em;
		}
	}
	.about-us {
		&__title {
			margin: 4rem 0 3rem;
			font-weight: 300;
			font-size: 2em;
		}
		&__box {
			margin: 0 2em;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
		&__box-header {
			font-size: 2rem;
			margin-left: 1.6em;
		}

		&__box-text {
			margin: 0 2em 1em;
			font-size: 1.6rem;
		}
		&__text {
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: flex-start;
		}
		&__img {
			display: inline-block;
			margin-left: 1em;
			height: 20rem;
			margin: 0 auto;
		}
	}
	.second-hero__header {
		font-size: 3.2rem;
		padding: 3rem 5rem;
		font-weight: 400;
	}
	.offer {
		&__box {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__card {
			height: 35rem;
			width: 25rem;
			&:nth-child(3) {
				.offer__card-li {
					margin: 0.5rem 5rem 0.5rem 5rem;
				}
			}
		}
		&__card-title {
			font-size: 2rem;
		}
		&__card-prize {
			font-size: 3rem;
		}
		&__card-li {
			margin: 0.5rem 4rem 0.5rem 4rem;
		}
		&__card-btn {
			height: 3rem;
			width: 17rem;
			font-size: 1.5rem;
			&--special {
				height: 3rem;
				width: 17rem;
			}
		}
		&__more-btn {
			width: 57rem;
		}
	}
	.contact{
		&__title {
			font-size: 2.8rem;
		}
		&__label {
			font-size: 2rem;
		}
		&__iframe {
			height: 40rem;
		}
	}
	.footer {
		&__box {
			flex-direction: row;
		}
		&__links {
			flex-direction: row;
		}
	}
}

@media (min-width: 992px) {
	.mobile-nav {
		display: none;
	}
	.nav {
		position: fixed;
		display: flex;
	}
	.hero-place {
		&__text {
			left: 45%;
			margin-left: 1em;
		}
		&__img {
			background-image: url("/dist/img/hero-big.jpg");
			height: 40rem;
			z-index: 0;
		}
		&__h3 {
			font-size: 2.8rem;
			font-weight: 300;
		}
		&__h1 {
			font-size: 3.5rem;
		}
	}
	.about-us {
		&__title {
			font-size: 2.5em;
		}

		&__box-header {
			font-size: 2.5rem;
		}
		&__box {
			align-items: flex-start;
		}
		&__box-text {
			font-size: 1.6rem;
			margin-left: 2em;
			line-height: 1.5em;
		}
		&__img {
			height: 35rem;
			margin-right: 2em;
		}
	}
	.second-hero__header {
		font-size: 2.5em;
		padding: 3rem 15rem;
	}
	.second-hero__img {
		background-image: url("/dist/img/seond-hero-big.jpg");
	}
	.offer {
		&__more-btn {
			width: 87rem;
		}
	}
}
