@use "./colors" as *;
@use "./components" as *;
@use "./mixins" as *;
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 10rem;
}
body {
	font-family: "Montserrat", sans-serif;
	width: 100%;
	font-size: 1.6rem;
	background-color: $light;
}
.nav {
	display: none;
	justify-content: space-evenly;
	height: 8rem;
	width: 100%;
	background-color: $light;
	transition: background-color 0.3s;
	z-index: 10;
	&__btn {
		display: flex;
		align-items: center;
		text-decoration: none;
		transition: background-color .3s;
		&:focus {
			outline: none;
			background-color: $footer;
			
		}
	}
	&__brand {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__logo {
		width: 3rem;
		height: 3rem;
	}
	&__title {
		font-size: 3rem;
		font-weight: 400;
		color: $dark;
	}
	&__links {
		display: flex;
		justify-content: space-around;
		line-height: 8rem;
	}
	&__link {
		padding: 0 1em;
		height: 100%;
		color: $dark;
		text-decoration: none;
		transition: background-color 0.3s, color 0.3s;

		&:hover {
			color: $light;
			background-color: $dark;
		}
		&:focus {
			outline: none;
			color: $light;
			background-color: $dark;
		}
	}
}
.mobile-nav {
	position: fixed;
	height: 8rem;
	width: 100%;
	background-color: $light;
	transition: background-color 0.3s, left .5s;
	z-index: 10;
	&__btn {
		display: flex;
		height: 8rem;
		align-items: center;
		text-decoration: none;
		&:focus {
			outline: none;
			background-color: $outline;
		}
	}
	&__panel {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	&__brand {
		display: flex;
		margin: 0 1rem;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	&__burger-menu {
		margin: 0 0.5rem;
		padding: 2rem;
	}
	&__title {
		font-size: 3.5rem;
		font-weight: 400;
		color: $dark;
		text-decoration: none;
	}
	&__logo {
		width: 2.9rem;
		height: 2.9rem;
	}
	&__burger {
		width: 4rem;
		height: 4rem;
		cursor: pointer;
		transition: transform 0.3s;
		&:hover {
			transform: scale(0.9);
		}
	}

	&__links {
		// padding: 6em 0 6em;
		position: relative;
		height: 100vh;
		width: 100%;
		top: -8rem;
		left: -110%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $light;
		transition: left 0.3s, background-color 0.3s;
		overflow: hidden;
	}

	&__link {
		padding: 1.5em 0;
		width: 100%;
		font-size: 2rem;
		color: $dark;
		text-align: center;
		text-decoration: none;
		transition: background-color 0.3s, color 0.3s;
		&:hover {
			background-color: $dark;
			color: $light;
		}
		&:focus {
			outline: none;
			color: $light;
			background-color: $dark;
			border-radius: 10px;
		}
	}
	&__button {
		border: none;
		background: none;
		&:focus {
			outline: none;
			background-color: $outline;
		}
	}
}
.hide{
	animation: hide .3s;
}
@keyframes hide {
	to{transform: rotate(360deg);}
}
.close{
	position: absolute;
	top: 2rem;
	right: 2rem;
}
.hero-place {
	padding-top: 8rem;
	width: 100%;
	transition: padding 0.3s;
	&__img {
		@include hero-img;
		height: 35rem;

		// background-image: url(".../dist/img/hero-small.jpg");
	}
	&__bg {
		@include bg;
	}
	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		color: $light;
		transform: translate(-50%, -50%);
		z-index: 100;
	}
	&__h3 {
		font-size: 2.5rem;
		font-weight: 300;
	}
	&__h1 {
		font-size: 3rem;
	}
}

.about-us {
	margin-bottom: 3em;
	width: 100%;
	&__title {
		@include title;
	}
	&__box {
		display: flex;
		flex-direction: column;
	}
	&__box-header {
		padding-bottom: 0.3em;
		font-size: 2.3rem;
		text-align: center;
	}
	&__box-text {
		display: block;
		margin: 0 2rem 1em;
		text-align: justify;
		max-width: 300px;
	}
	&__img {
		display: block;
		margin: 1rem auto 2rem;
		height: 16rem;
	}
}

.second-hero {
	&__img {
		@include hero-img;
		height: 30rem;
		// background-image: url(".../dist/img/second-hero-small.jpg");
		z-index: 0;
	}
	&__bg {
		@include bg;
		background-color: rgba(0, 0, 0, 0.5);
	}
	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	&__header {
		margin: 0 4rem;
		padding: 1.5rem 2rem;
		font-size: 2.8rem;
		text-align: center;
		font-weight: 400;
		color: $light;
		border: 1px solid $light;
	}
}
.offer {
	&__title {
		@include title;
	}
	&__p {
		margin: 0 2rem 2rem;
		font-size: 1.8rem;
		text-align: center;
	}
	&__box {
		display: flex;
		margin: 2rem 2rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__card {
		margin: 2rem 3rem;
		height: 40rem;
		width: 25rem;
		border-radius: 5px;
		box-shadow: 0px 0px 5px 0px rgb(125, 125, 128);
		&-title {
			margin-top: 2rem;
			font-size: 2.5rem;
			font-weight: 400;
			text-align: center;
		}
		&-prize {
			margin: 1rem;
			text-align: center;
			font-size: 3.5rem;
			font-weight: bold;
		}
		&-list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			margin-top: 3rem;
			list-style: none;
			color: $unlist;
		}
		&-li {
			margin-top: 0.5rem;
			margin-left: 3.5rem;
			margin-bottom: 0.5rem;
		}
		&-minus {
			margin-right: 1rem;
			height: 1rem;
		}
		&-check {
			margin-right: 1.5rem;
			height: 1rem;
		}
		&-btn {
			display: block;
			margin: 3rem auto 0;
			width: 20rem;
			height: 4rem;
			font-size: 1.7rem;
			color: $dark;
			border: none;
			background: none;
			border-radius: 5px;
			box-shadow: 0px 5px 17px 0px rgb(125, 125, 128);
			transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
			cursor: pointer;
			&--special {
				display: block;
				margin: 3rem auto 0;
				width: 20rem;
				height: 4rem;
				font-size: 1.7rem;
				color: $dark;
				background-color: $check;
				border: none;
				border-radius: 5px;
				box-shadow: 0px 5px 17px 0px rgba(49, 203, 83, 1);
				transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
				cursor: pointer;
				&:hover {
					background-color: $dark;
					color: $light;
					box-shadow: 0px 5px 17px 0px rgb(125, 125, 128);
				}
				&:focus {
					outline: none;
					color: $light;
					background-color: $dark;
					box-shadow: 0px 5px 17px 0px rgb(125, 125, 128);
				}
			}
			&:hover {
				background-color: $dark;
				color: $light;
			}
			&:focus {
				outline: none;
				color: $light;
				background-color: $dark;
			}
		}
	}
	&__more-btn {
		display: block;
		margin: 3rem auto 5rem;
		height: 4rem;
		width: 80%;
		font-size: 1.7rem;
		background-color: $dark;
		color: $light;
		text-align: center;
		line-height: 4rem;
		text-decoration: none;
		border: none;
		border-radius: 5px;
		box-shadow: 0px 5px 17px 0px rgb(125, 125, 128);
		transition: background-color 0.3s, color 0.3s;
		cursor: pointer;

		&:hover {
			background-color: $light;
			color: $dark;
			box-shadow: 0px 5px 17px 0px rgb(125, 125, 128);
		}
		&:focus {
			outline: none;
			color: $dark;
			background-color: $light;
		}
	}
}
.check {
	color: $dark;
}
.contact {
	&__box {
		padding: 0 3.5em;
	}
	&__title {
		@include title;
	}
	&__form {
		display: flex;
		flex-direction: column;
	}
	&__label {
		margin: 1rem 0;
		font-weight: 300;
		font-size: 1.6rem;
	}
	&__input {
		margin: 0 auto;
		height: 3rem;
		width: 100%;
		font-size: 1.7rem;
		text-align: center;
		color: $dark-grey;
		background-color: $footer;
		border: none;
		border-radius: 5px;
	}
	&__textarea {
		padding: 1rem;
		height: 200px;
		min-width: 100%;
		max-width: 100%;
		min-height: 200px;
		max-height: 200px;
		font-size: 1.7rem;
		background-color: $footer;
		border: none;
		border-radius: 5px;
	}
	&__btn {
		margin: 3rem 0;
		height: 3rem;
		font-size: 1.7rem;
		color: $dark;
		background-color: $check;
		border: none;
		border-radius: 5px;
		transition: background-color 0.3s, color 0.3s;
		cursor: pointer;
		&:hover {
			background-color: $dark;
			color: $light;
		}
	}
	&__iframe-box {
		background-color: $footer;
	}
	&__iframe {
		display: inline-block;

		height: 30rem;
		width: 100%;
	}
}
.error {
	background-color: $error;
	border: 1px solid $dark-error;
}
.error-alert {
	margin: 1rem 0 0;
	text-align: center;
	font-size: 1.7rem;
	color: $error;
	font-weight: bold;
	visibility: hidden;
}
.show-alert {
	visibility: visible;
}
.more-offer {
	&__title {
		@include title;
	}
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 1rem 2rem;
	}

	&__card {
		position: relative;
		display: block;
		margin: 1rem 2rem;
		height: 40rem;
		width: 100%;
		border-radius: 15px;
		background-color: $footer;
		overflow: hidden;
		&-minus {
			margin-right: 1rem;
			height: 1.5rem;
		}
		&-check {
			margin-right: 1.5rem;
			height: 1.5rem;
		}
		&-first-side {
			transition: 0.5s;
		}
		&-second-side {
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			opacity: 0;
			background-color: $footer;
			transition: 0.5s;
			transform: translateY(110%);

			&-title {
				font-size: 2.2rem;
				font-weight: 300;
				margin-bottom: 1.3rem;
			}
			&-text {
				margin: 0 4rem 1rem;
				font-size: 1.8rem;
				font-weight: 200;
				text-align: center;
			}
			&-ul {
				list-style: none;
			}
			&-li {
				font-size: 1.8rem;
				font-weight: 200;
			}
			&-btn {
				margin-top: 2rem;
				height: 4rem;
				font-size: 1.7rem;
				font-weight: 200;
				width: 14rem;
				border: none;
				color: $dark;
				background-color: $light;
				border-radius: 5px;
				transition: background-color 0.3s, color 0.3s;
				cursor: pointer;
				&:hover {
					background-color: $dark;
					color: $light;
				}
				&:focus {
					outline: none;
					color: $light;
					background-color: $dark;
				}
			}
		}
		.second-side-show {
			transform: rotate(0);
			opacity: 1;
		}
		.first-side-show {
			opacity: 0;
		}
		&-title {
			text-align: center;
			font-size: 2.8rem;
			color: $light;
		}
		&-price {
			color: $light;
			margin: 1rem;
			text-align: center;
			font-size: 4rem;
			font-weight: bold;
		}
		&-img {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 40%;

			background-position: center;
			z-index: 0;
		}
		&-ul-box {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			bottom: 0;
			width: 100%;
			height: 60%;
			align-items: center;
			line-height: 3rem;
		}
		&-bg {
			@include bg;
			background-color: rgba(0, 0, 0, 0.5);
		}
		&-ul {
			margin: 0;
			font-size: 2rem;
			list-style: none;
		}
		&-li {
			font-size: 1.8rem;
			color: $dark;
			z-index: 10;
		}
		&-btn {
			margin-top: 2rem;
			width: 14rem;
			height: 4rem;
			font-size: 1.7rem;
			font-weight: 200;
			color: $dark;
			background-color: $light;
			border: none;
			border-radius: 5px;
			transition: background-color 0.3s, color 0.3s;
			cursor: pointer;
			&:hover {
				background-color: $dark;
				color: $light;
			}
			&:focus {
				outline: none;
				color: $light;
				background-color: $dark;
			}
		}
	}
}
// .img-one {
// 	background-image: url("../dist/img/more-offer-one.jpg");
// }
// .img-two {
// 	background-image: url("../dist/img/twoV2-more-offer.jpg");
// }
// .img-three {
// 	background-image: url("../dist/img/three-more-offer.jpg");
// }
// .img-four {
// 	background-image: url("../dist/img/four-more-offer.jpg");
// }
// .img-five {
// 	background-image: url("../dist/img/five-more-offer.jpg");
// }
.footer {
	margin: 0;
	background-color: $footer;
	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		margin-bottom: 3rem;
		&-logo {
			height: 3rem;
		}
		&-brand {
			display: flex;
			align-items: center;
			margin-top: 0.8em;
			font-size: 3.6rem;
			font-weight: 400;
		}
	}
	&__border {
		width: 100%;
		height: 0.1rem;
		background-color: $dark;
	}
	&__links {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		&-category {
			display: flex;
			flex-direction: column;
			margin: 0 2rem;
		}
		&-header {
			margin-top: 2em;
			margin-bottom: 1rem;
			font-size: 2rem;
			font-weight: bold;
			text-align: center;
		}
	}
	&__link {
		position: relative;
		margin: 0.5rem 0;
		font-weight: 300;
		color: $dark;
		text-decoration: none;
		text-align: center;
		transition: color 0.3s;
		cursor: pointer;
		&:hover {
			color: $unlist;
		}
		&:focus {
			outline: none;
			color: $unlist;
		}
	}
	&__year {
		display: flex;
		padding: 1em 0;
		justify-content: center;
		align-items: center;
		font-weight: 300;
	}
}
.active {
	left: 0;
}
.shadow {
	background-color: $footer;
}
.dark-color {
	background-color: $dark;
}
.unlist {
	color: $unlist;
}
@media (min-width: 375px) {
	.about-us {
		&__img {
			height: 20rem;
		}
		&__box-text {
			margin: 0 auto 1em;
			text-align: left;
		}
	}
	.more-offer{
		&__card{
			width: 30rem;
		}
	}
}
@media (min-width: 768px) {
	html {
		scroll-padding-top: 13rem;
	}
	.mobile-nav {
		height: 11rem;

		&__title {
			font-size: 4rem;
		}
		&__logo {
			width: 4.5rem;
			height: 4.5rem;
		}
		&__burger {
			width: 5rem;
			height: 5rem;
		}
		&__link {
			font-size: 3rem;
		}
	}
	.hero-place {
		&__h3 {
			font-size: 1.5em;
			font-weight: 300;
		}
		&__h1 {
			font-size: 2em;
		}
	}
	.about-us {
		&__title {
			margin: 4rem 0 3rem;
			font-size: 2em;
			font-weight: 300;
		}
		&__box {
			display: flex;
			margin: 0 2em;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
		&__text {
			padding-top: 0.3rem;
			padding-left: 1.6em;
		}
		&__box-header {
			font-size: 2rem;
		}

		&__box-text {
			margin: 0;
			font-size: 1.6rem;
		}
		&__text {
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: flex-start;
		}
		&__img {
			display: inline-block;
			margin-left: 1em;
			height: 25rem;
		}
	}
	.second-hero__header {
		padding: 3rem 5rem;
		font-size: 3.2rem;
		font-weight: 400;
	}
	.offer {
		&__box {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__card {
			width: 25rem;
			height: 35rem;
			&:nth-child(3) {
				.offer__card-li {
					margin-top: 0.5rem;
					margin-bottom: 0.5rem;
					margin-left: 4rem;
				}
			}
		}
		&__card-title {
			font-size: 2rem;
		}
		&__card-prize {
			font-size: 3rem;
		}
		&__card-li {
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
			margin-left: 3rem;
		}
		&__card-btn {
			width: 17rem;
			height: 3rem;
			font-size: 1.5rem;
			&--special {
				width: 17rem;
				height: 3rem;
			}
		}
		&__more-btn {
			width: 57rem;
		}
	}
	.contact {
		&__title {
			font-size: 3rem;
		}
		&__label {
			font-size: 2rem;
		}
		&__iframe {
			height: 40rem;
		}
	}
	.more-offer {
		&__title {
			font-size: 3rem;
		}
		&__card {
			margin: 2rem 2rem;
			width: 60rem;
			height: 30rem;
			&-second-side {
				&-title {
					margin-bottom: 1rem;
				}

				&-btn {
					font-size: 2rem;
				}
			}
			&-title {
				font-size: 3rem;
			}
			&-price {
				font-size: 4.5rem;
			}
			&-img {
				width: 40%;
				height: 100%;
			}
			&-ul-box {
				right: 0;
				width: 60%;
				height: 100%;
				line-height: 3.5rem;
			}
			&-li {
				font-size: 2rem;
			}
			&-btn {
				width: 20rem;
				height: 4.5rem;
				font-size: 1.8rem;
			}
		}
	}
	.footer {
		&__box {
			flex-direction: row;
			&-logo {
				height: 4.6rem;
				margin-right: 0.59rem;
			}
			&-brand {
				font-size: 4.1rem;
			}
		}
		&__links {
			flex-direction: row;
			&-category {
				align-items: flex-start;
			}
		}
	}
}
@media (min-width: 820px) {
	.about-us {
		&__img {
			height: 30rem;
		}
	}
}
@media (min-width: 992px) {
	html {
		scroll-padding-top: 9rem;
	}
	.mobile-nav {
		display: none;
	}
	.nav {
		position: fixed;
		display: flex;
	}
	.hero-place {
		&__text {
			left: 45%;
			margin-left: 1em;
		}
		&__img {
			height: 40rem;
			// background-image: url(../dist/img/hero-big.jpg);
		}
		&__h3 {
			font-size: 2.5rem;
			font-weight: 300;
		}
		&__h1 {
			font-size: 3.5rem;
		}
	}
	.about-us {
		&__title {
			font-size: 3rem;
		}

		&__box-header {
			font-size: 2.3rem;
		}
		&__box {
			align-items: flex-start;
		}
		&__box-text {
			font-size: 1.6rem;
			line-height: 1.5em;
		}
		&__img {
			padding-top: 1rem;
			height: 35rem;
		}
	}
	.second-hero__header {
		padding: 3rem 15rem;
		font-size: 2.5em;
	}

	.offer {
		&__more-btn {
			width: 87rem;
		}
	}
	.more-offer {
		&__card {
			width: 80rem;
			height: 30rem;
		}
	}
}
@media (min-width: 1100px) {
	.more-offer {
		&__card {
			width: 100rem;
		}
	}
}
